@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 201 28% 38%; /* #2A6F97 */
    --foreground: 0 0% 85%; /* #D9D9D9 */

    --card: 196 41% 59%; /* #6CAEC2 */
    --card-foreground: 201 28% 38%; /* #2A6F97 */
 
    --popover: 39 82% 91%; /* #FDF0D5 */
    --popover-foreground: 201 28% 38%; /* #2A6F97 */
 
    --primary: 201 28% 38%; /* #2A6F97 */
    --primary-foreground: 0 0% 85%; /* #D9D9D9 */
 
    --secondary: 196 41% 59%; /* #6CAEC2 */
    --secondary-foreground: 201 28% 38%; /* #2A6F97 */
 
    --muted: 39 100% 97%; /* #FFF9EE */
    --muted-foreground: 201 28% 38%; /* #2A6F97 */
 
    --accent: 43 100% 98%; /* #FFFCF6 */
    --accent-foreground: 201 28% 38%; /* #2A6F97 */
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 201 28% 38%; /* #2A6F97 */
    --input: 0 0% 85%; /* #D9D9D9 */
    --ring: 196 41% 59%; /* #6CAEC2 */
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}