@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --border: 210, 210, 210;
    --input: 255, 255, 255;
    --ring: 0, 0, 0;
    --background: 255, 255, 255;
    --foreground: 0, 0, 0;
    --primary: 0, 122, 255;
    --primary-foreground: 255, 255, 255;
    --secondary: 0, 0, 0;
    --secondary-foreground: 255, 255, 255;
    --destructive: 255, 0, 0;
    --destructive-foreground: 255, 255, 255;
    --muted: 0, 0, 0;
    --muted-foreground: 255, 255, 255;
    --accent: 0, 0, 0;
    --accent-foreground: 255, 255, 255;
    --popover: 255, 255, 255;
    --popover-foreground: 0, 0, 0;
    --card: 255, 255, 255;
    --card-foreground: 0, 0, 0;
    --sidebar-background: 255, 255, 255;
    --sidebar-foreground: 0, 0, 0;
    --sidebar-primary: 0, 0, 0;
    --sidebar-primary-foreground: 255, 255, 255;
    --sidebar-accent: 0, 0, 0;
    --sidebar-accent-foreground: 255, 255, 255;
    --sidebar-border: 210, 210, 210;
    --sidebar-ring: 0, 0, 0;
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.form-field-container {
  @apply p-0.5 rounded-sm bg-white border border-gray-50 transition-all duration-200;
  margin: 0;
}
